@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(180, 66%, 49%); /* cyan */
  --primary-color-two: hsl(257, 27%, 26%); /* darkviolet */
  --secondary-color: hsl(0, 87%, 67%);
  --neutral-Gray: hsl(0, 0%, 75%);
  --neutral-Grayish-Violet: hsl(257, 7%, 63%);
  --neutral-Very-Dark-blue: hsl(255, 11%, 22%);
  --neutral-Very-Dark-violet: hsl(260, 8%, 14%);
  --padding-inline-def: 5%;
}
html {
  font-size: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--neutral-Very-Dark-violet);
  margin: 0;
  padding: 0;
  padding-bottom: 10000px;
  overflow-x: hidden;
}
/* main section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding-inline: var(--padding-inline-def);
  padding-block: 1rem;
}
.section-one,
.section-two {
  display: flex;
  align-items: center !important;
}
.section-one {
  align-items: center;
}
.logo img {
  width: 4rem;
}
.section-one ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.section-one ul li {
  list-style: none;
}
.section-one ul a {
  text-decoration: none;
  color: var(--neutral-Very-Dark-violet);
}

/* buttons styles */
button {
  background-color: transparent;
  border: none;
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  font-weight: 700;
  font-size: 0.9rem;
}
#sign-up,
#start {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.3rem;
}
#start {
  padding-inline: 2rem;
  padding-block: 0.8rem;
}

/* main section */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline-start: var(--padding-inline-def);
  margin-block: 3rem;
  gap: 2rem;
}
.hero h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 600;
}
.mockup img {
  width: 100%;
}
.mockup {
  margin-right: -1rem;
}
.hero p {
  color: var(--neutral-Gray);
  width: 80%;
  margin-top: -2rem;
  font-weight: 500;
}
.part-one {
  position: relative;
}
/* url section */
.part-two {
  background-color: rgb(238, 238, 238);
}

.url-container-bg {
  background: url(/images/bg-boost-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-color-two);
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
  width: 70%;
  margin: auto;
}
.url-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.url-container input {
  flex: 3;
  padding-block: 1rem;
}
.url-container button {
  flex: 1;
  padding-block: 1rem;
  background-color: var(--primary-color);
  color: white;
}

.stats {
  text-align: center;
  padding-block: 5rem;
}
